body{
    margin: 0;
    padding: 0;
}
.nav-item{
color: #333333;
font-size: 12px;
font-family: "Roboto", sans-serif;
font-weight: 400;
line-height: 12px;
letter-spacing: 2px;
}
.hero-title-span{
color: #BDBDBD;
font-weight: 300;
font-size: 64px;
line-height: 64px;
font-family: "Roboto", sans-serif;
}
.hero-title{
color: #333333;
text-shadow: 0px 4px 4px 0px #00000040;
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 64px;
line-height: 64px;
}
.about-title{
color: #BDBDBD;
font-weight: 300;
font-size: 64px;
line-height: 64px;
font-family: "Roboto", sans-serif;
margin-bottom: 20px;
}
.about-text{
font-weight: 300;
font-size: 16px;
line-height: 25px;
font-family: "Roboto", sans-serif;
margin-bottom: 50px; 
}
.mission-title{
color: #BDBDBD;
font-weight: 300;
font-size: 64px;
line-height: 64px;
font-family: "Roboto", sans-serif;
margin-bottom: 60px;
}

.mission-text{
color: #333333;
font-weight: 400;
font-size: 22px;
line-height: 36px;
font-family: "Roboto", sans-serif;
min-width: 280px;
}
.mission-number{
color: #F2F2F2;
font-weight: 900;
font-size: 200px;
line-height: 234.38px;
font-family: "Roboto", sans-serif;   
}
.projects-title{
color: #BDBDBD;
font-weight: 300;
font-size: 64px;
line-height: 64px;
font-family: "Roboto", sans-serif;   
}
.btn{
    font-family: "Roboto", sans-serif;   
    font-size: 12px;
    line-height: 12px;   
    color: #333333;
    letter-spacing: 2px;
}
.hero{
    display: flex;
justify-content: space-around;
align-items: flex-start;
flex-direction: column;
gap: 50px;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.header{
    display: flex;
    gap: 330px;
    padding: 24px 0;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 61px;
    list-style: none;
}
.hero{
    display: flex;
    align-items: center;
    gap: 122px;
}
.hero{
    padding-bottom: 120px;
}
.about{
    padding: 30px 70px 30px 100px;
display: flex;
gap: 30px;
align-items: center;
padding-bottom: 120px; 
}
.images-wrap{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.text-wrap{
    display: flex;
    flex-direction: column;
}
.mission{
    padding-bottom: 120px;
}
.mission-list{
    display: flex;
    gap: 187px;
}
.mission-list-item{
    display: flex;
    gap: 30px;
    align-items: center;
}