html,
body,
div,
span,
applet,
object,
iframe,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: white;
}
menu,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none ;
  color: inherit;
}
img {
  display: block;
}
button{
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}





*,*::before,*::after{box-sizing: border-box;}
.container{
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container{
    width: 736px;
  }
}
@media (min-width: 1440px) {
  .container{
    width:1128px;
  }
}

.logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #4D5AE5;
  display: flex;
  align-items: center;
}

.logo-span{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2E2F42;
}
.burger-menu{
  width: 24px;
  height: 24px;
}
@media (min-width: 768px) {
  .burger-menu{
    display: none;
  }

}
.nav-item{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2E2F42;
  letter-spacing: 2%;
}
.nav-item:hover{
  cursor: pointer;
  color: #404BBF;
}
.header-info{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
  letter-spacing: 2%;
}
.header-info:hover{
  cursor: pointer;
  color: #404BBF;
}
.nav-list{
  display: none;
  margin-top: 24px;
  margin-bottom: 24px;
}

.header{
  background-color: white;
  padding: 17px;
display: flex;
justify-content: space-between;
align-items: center;
}
.info-list{
display: none;
}
@media (min-width: 768px) {
  .info-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .nav-list{
    display: flex;
    gap: 40px;
  }
  .div-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation{
    display: flex;
  }
  .logo{
    margin-right: 120px;
  }
}
@media (min-width: 1440px) {
  .logo{
    margin-right: 76px;
  }
  .info-list{
    flex-direction: row;
    gap: 40px;
  }
}
.hero-title{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  color: #FFFFFF;

  margin: 0 auto;
  text-align: center;

  
}
.hero-button{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  background-color: #4D5AE5;
  color: white;
  padding: 16px 32px;
  gap: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
}
.hero{
  padding: 188px 0;
  background: linear-gradient(#2E2F42B2,#2E2F42B2),url("./images/herobg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.title-advantages{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;letter-spacing: 2%;
  color: #2E2F42;
  margin-bottom: 8px;
}
.text-advantages{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
}
.advantages-list{

}
.wrap-img{
  background-color: #F4F4FD;
  padding: 24px 0;
  border: 1px solid #8E8F99;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.advantages{
  padding: 120px 0;
}
/* .item{
  display: flex;
  gap: 8px;
  flex-direction: column;
} */


.team{
  padding: 120px 0;
  background-color: #F4F4FD;
}
.team-title{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 72px;
}
.name{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 8px;
}
.role{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  text-align: center;
}
.team-list{
  display: flex;
  gap: 72px;
  flex-direction: column;
}
.team-wrap{
  background-color: white;
  padding: 32px 16px;
}
.social-list{
  display: flex;
  gap: 24px;
}
.social-item{
  background-color: #4D5AE5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-title{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  text-align: center;
  color: #2E2F42;
  margin-bottom: 72px;
}
.overlay-text{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #F4F4FD;
  padding: 40px 32px;
}
.project-name{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2E2F42;
  margin-bottom: 8px;
}
.portfolio-category{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;

}
.portfolio{
  padding: 120px 0;
}
.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio-item{
  width: 360px;
}
.portfolio-img{
  width: 100%;
  height: auto;
}
.portfolio-item:hover{
  cursor: pointer;
}
.portfolio-item:hover > .portfolio-text-wrap{
  box-shadow: 0px 1px 6px 0px #2E2F4214;
}
.overlay-wrap{
  position: relative;
  overflow: hidden;
}
.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  transform: translateY(100%);
  transition: transform 3s linear;
}
.portfolio-text-wrap{
  padding: 32px 16px;
  border: 1px solid #E7E9FC;
  border-top: none;
}
.portfolio-item:hover .overlay{
  transform: translateY(0);
}
.footer{
  background-color: #2E2F42;
  padding: 100px 0;
}
.footer-flex{

}
.footer-logo-span{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #F4F4FD;
}
.footer-description{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #F4F4FD;
  margin-top: 16px;
}
.footer-wrap-title{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: white;
  margin-bottom: 16px;
}
.footer-social-item{
  background-color: #4D5AE5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-list{
  display: flex;
  gap: 16px;
}
.footer-input{
  display: block;
  color: white;
  padding: 8px 16px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 4px;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 4%;
}
.footer-input:hover,.footer-input:focus{
  cursor: pointer;
  border-color: #404BBF;
}
.footer-input::placeholder{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 4%;
  color: white;
}
.footer-form{

}
.footer-button{
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: white;
  padding: 8px 24px;
  gap: 16px;
  display: block;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.modal-overlay{
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  background-color: white;
  width: 408px;
  height: 584px;
  padding: 74px 24px;
  position: relative;
}
.modal-title{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2E2F42;
  text-align: center;
}
.hide-modal{
  display: none;
}
.input-label{
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
  color: #8E8F99;
  margin-bottom: 4px;
}
.input{
  outline: none;
  border: 1px solid #2E2F4266;
  padding: 11px 38px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #2E2F42;
  width: 100%;
  display: block;
  border-radius: 4px;
  margin-bottom: 8px;
}
.input:hover,.input:focus{
  border-color: #404BBF;
}
.input-wrap{
  position: relative;
}
.icon{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

}
.input:hover + .icon{
  fill: #404BBF;
}
.input:focus + .icon{
  fill: #404BBF;
}
.commentField{
  resize: none;
  width: 100%;
  height: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
  border-color: #2E2F4266;
  outline: none;
  margin-bottom: 16px;
}
.commentField::placeholder{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #75757580;
}
.commentField:hover{
  border-color: #404BBF;
}
.commentField:hover,.commentField:focus{
  border-color: #404BBF;
}
.privacy{
  display: flex;
  gap: 8px;
  align-items: center;
}
.privacy-text{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #757575;
}
.privacy-link{
  text-decoration: underline;
  color: #404BBF;
}
.input-privacy{
  width: 16px;
  height: 16px;
}
.button-form{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  text-align: center;
  color: white;
  background-color: #4D5AE5;
  display: block;
  padding: 16px;
  border-radius: 4px;
  width: 169px;
  margin: 0 auto;
  margin-top: 24px;
}
.close-block{
  cursor: pointer;
  background-color: #E7E9FC;
  width: 24px;
  height: 24px;
  border: 1px solid #0000001A;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 24px;
  top: 24px;
}
