html,
body,
div,
span,
applet,
object,
iframe,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #161c2a;
}
menu,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none !important;
  color: inherit;
}
img {
  display: block;
}
button{
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
*,*::before,*::after{box-sizing: border-box;}
.container{
  width: 1128px;
  margin: 0 auto;
}
.logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #4D5AE5;
  display: flex;
  align-items: center;
}
.logo-span{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2E2F42;
}
.nav-item{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2E2F42;
  letter-spacing: 2%;
}
.nav-item:hover{
  cursor: pointer;
  color: #404BBF;
}
.header-info{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
  letter-spacing: 2%;
}
.header-info:hover{
  cursor: pointer;
  color: #404BBF;
}
.nav-list{
  display: flex;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.navigation{
  display: flex;
  gap: 76px;
}
.div-container{
  display: flex;
  justify-content: space-between;
}
.header{
  background-color: white;
}
.info-list{
  display: flex;
  gap: 40px;
  align-items: center;
}
.hero-title{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  color: #FFFFFF;
  width: 500px;
  margin: 0 auto;
  text-align: center;

  
}
.hero-button{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  background-color: #4D5AE5;
  color: white;
  padding: 16px 32px;
  gap: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
}
.hero{
  padding: 188px 0;
  background: linear-gradient(#2E2F42B2,#2E2F42B2),url("./images/herobg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
